<div class="panel panel-default">
  <div class="panel-heading">
      <%= awesome_link('fa-plus', '/photos/new') %>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover">
          <tr>
            <th>Caption</th>
            <th>Image</th>
            <th>User</th>
            <th>Created at</th>
            <th>Actions</th>
          </tr>

          <% @photos.each do |photo| %>
          <tr>
            <td><%= photo.caption %></td>
            <td><img src="<%= photo.image %>" width ="200"></td>
            <td><%= photo.user.username %></td>
            <td><%= time_ago_in_words(photo.created_at) %> ago</td>
            <td>
              <a href="/photos/<%= photo.id %>" class="btn btn-warning">Show</a>
              <% if photo.user_id == current_user.id %>
              <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
              <% end %>
              <% if photo.user_id == current_user.id %>
                <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
